* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.lua text eol=lf
*.md text eol=lf
*.patch text eol=lf -whitespace
*.ps1 text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.dll binary
*.exe binary
*.lib binary
*.pdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
